# Node.js
/node_modules/
npm-debug.log

# Editor files
/.vscode/
/.idea/

# Test files
/test/
/coverage/

# Build files
/dist/
/build/

# Local configuration
.env
.env.*

# IDE-specific files
*.suo
*.user
*.sln
*.csproj
*.vspscc
*.scc
*.userprefs

# Log files
*.log
*.err

# Temporary files
*~
*.tmp
*.swp